@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --sz: 10vmin;  /* size */
  --on: #d31212; /* color on */
  --off: #0be00f; /* color off */
  --tr: all 0.25s ease 0s;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--tr);
}

	